.footer {
    margin-top: 500px;
    background-color: #f2efef; 
    color: #504f4f;
    text-align: center; 
    font-size: 0.9rem;
    position: fixed;
    bottom: 0;
    width: 100%; 
    z-index: 100; 
  }
  