.projects-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;
    background-color: #f9f9f9;
    max-width: 1200px;
    margin: 0 auto;
}

.projects-header {
    text-align: center;
    font: 600 32px/20px Roboto, "Helvetica Neue", sans-serif;
    margin-bottom: 2rem;
    color: #333;
}

.project-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    padding: 1.2rem;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.8s ease-in-out;
    width: 100%;
    max-height: 400px;
    position: relative;
    overflow: hidden;
}

.project-box.reverse {
    flex-direction: row-reverse;
}

.project-description {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.3rem;
}

.project-title {
    font-size: 1.3rem;
    font-weight: bold;
    font-family: 'Georgia', serif;
    color: #04518b;
}

.project-date {
    font-size: 0.8rem;
    font-style: italic;
    color: #888;
}

.project-description-list {
    list-style-type: disc;
    padding-left: 18px;
}

.project-description-item {
    font-size: 0.9rem;
    line-height: 1.4;
    color: #555;
    text-align: justify;
    margin-bottom: 0.8rem;
    padding: 0.8rem;
    border-radius: 8px;
    background-color: #ddeefb;
    box-shadow: 0 4px 8px rgba(180, 179, 179, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    font: 400 15px/24px Roboto, "Helvetica Neue", sans-serif;
}

.project-description-item:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.project-technologies {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    margin-top: 0;
}

.project-technologies h3 {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
}

.project-tech-icons {
    display: flex;
    gap: 0.6rem;
    padding-bottom: 10px;
}

.tech-icon {
    font-size: 1.6rem;
    color: #333;
}

.project-buttons {
    display: flex;
    gap: 1rem;
}

.project-link {
    font-size: 1rem;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease, transform 0.3s ease;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    text-align: center;
    display: inline-block;
    width: 150px;
}

.project-link.github {
    background-color: #2196f3;
    color: white;
}

.project-link.github:hover {
    background-color: #004499;
    transform: scale(1.05);
}

.project-link-live {
    background-color: #FF5733;
    color: white;
}

.project-link-live:hover {
    background-color: #d32f2f;
    transform: scale(1.05);
}

.project-image-container {
    flex: 0.8;
    background-color: #ddeefb;
    position: relative;
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 15px;
}

.project-image {
    position: absolute;
    max-width: 45%;
    max-height: 200px;
    border-radius: 8px;
    object-fit: cover;
    transition: transform 0.6s ease-in-out, z-index 0.6s ease-in-out;
    will-change: transform;
}

.project-image.middle {
    z-index: 2;
    transform: scale(1.4);
}

.project-image.left {
    left: -20%;
    z-index: 1;
    transform: translateX(50%);
}

.project-image.right {
    right: -20%;
    z-index: 1;
    transform: translateX(-50%);
}

.project-image-container:hover .project-image {
    animation: imageExpansion 4s forwards;
}

.project-image-container:hover .project-image:nth-child(1) {
    animation-delay: 0s;
}

.project-image-container:hover .project-image:nth-child(2) {
    animation-delay: 1s;
}

.project-image-container:hover .project-image:nth-child(3) {
    animation-delay: 2s;
}

@keyframes imageExpansion {
    0% {
        transform: scale(1) translateX(0);
        z-index: 1;
    }
    50% {
        transform: scale(1.5) translateX(0);
        z-index: 2;
    }
    100% {
        transform: scale(1) translateX(0);
        z-index: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .projects-container {
        padding: 1rem;
    }

    .project-box {
        flex-direction: column;
        max-height: none;
        gap: 1rem;
        padding: 1rem;
    }
    .projects-header {
        text-align: center;
        font: 600 32px/20px Roboto, "Helvetica Neue", sans-serif;
        margin-bottom: 10px;
        color: #333;
        padding-top: 10px;
    }

    .project-image-container {
        display: none;
    }

    .project-description {
        order: 1;
        gap: 0.5rem;
    }

    .project-title {
        font-size: 1.2rem;
    }

    .project-date {
        font-size: 0.7rem;
    }

    .project-description-item {
        font-size: 0.85rem;
        padding: 0.6rem;
        margin-bottom: 0.5rem;
    }

    .project-technologies h3 {
        font-size: 0.9rem;
    }

    .project-tech-icons {
        gap: 0.4rem;
    }

    .tech-icon {
        font-size: 1.4rem;
    }

    .project-buttons {
        flex-direction: column;
        gap: 0.5rem;
    }

    .project-link {
        width: 100%;
    }
}
